In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#–ò–∑–≤–ª–µ—á–µ–º –¥–∞–Ω–Ω—ã–µ –æ —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏ –∏ –ø–æ—Å–µ—â–µ–Ω–∏—è—ÖüëÄ
dfReg_time = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-v-ananin/shared/problem1-reg_data.csv', sep = ';')
dfReg_time

            reg_ts      uid
0        911382223        1
1        932683089        2
2        947802447        3
3        959523541        4
4        969103313        5
...            ...      ...
999995  1600874034  1110618
999996  1600874086  1110619
999997  1600874139  1110620
999998  1600874191  1110621
999999  1600874244  1110622

[1000000 rows x 2 columns]

In [4]:
dfAuth_time = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-v-ananin/shared/problem1-auth_data.csv', sep = ';')
dfAuth_time

            auth_ts      uid
0         911382223        1
1         932683089        2
2         932921206        2
3         933393015        2
4         933875379        2
...             ...      ...
9601008  1600874034  1110618
9601009  1600874086  1110619
9601010  1600874139  1110620
9601011  1600874191  1110621
9601012  1600874244  1110622

[9601013 rows x 2 columns]

In [5]:
dfAuth_time.info()
dfAuth_time.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9601013 entries, 0 to 9601012
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   auth_ts  int64
 1   uid      int64
dtypes: int64(2)
memory usage: 146.5 MB

auth_ts    9180915
uid        1000000
dtype: int64

In [6]:
dfReg_time.info()
dfReg_time.nunique()
#–ü–æ—Å–º–æ—Ç—Ä–µ–ª –Ω–∞ –¥–∞—Ç–∞—Å–µ—Ç—ã –∏ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –Ω–∏—Ö. –í—Ä–µ–º—è —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏ –∏ –≤—Ö–æ–¥–æ–≤ —Å–ª–µ–¥—É–µ—Ç –ø–µ—Ä–µ–≤–µ—Å—Ç–∏ –≤ datetimeü§î

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   reg_ts  1000000 non-null  int64
 1   uid     1000000 non-null  int64
dtypes: int64(2)
memory usage: 15.3 MB

reg_ts    1000000
uid       1000000
dtype: int64

In [23]:
def retention(dfReg_time, dfAuth_time):
    #–°–Ω–∞—á–∞–ª–∞ —Å–¥–∂–æ–∏–Ω–∏–º –¥–∞–Ω–Ω—ã–µ –æ –≤—Ä–µ–º–µ–Ω–∏ —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏ –∏ –≤—Ö–æ–¥–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π
    df_join = pd.merge(dfReg_time, dfAuth_time, on='uid', suffixes=('_reg', '_auth'))

    #–ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –¥–∞—Ç –≤ —Ç–∏–ø datetime –∏–∑ Unix'aüò§
    df_join['reg_ts'] = pd.to_datetime(df_join['reg_ts'], unit='s')
    df_join['auth_ts'] = pd.to_datetime(df_join['auth_ts'], unit='s')

    #–ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º datetime –ø—Ä–æ—Å—Ç–æ –≤ –¥–∞—Ç—É –≤ –æ–±–æ–∏—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö
    df_join['reg_date'] = df_join['reg_ts'].dt.date
    df_join['auth_date'] = df_join['auth_ts'].dt.date

    #–ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ –¥–Ω—é —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏ –∏ –¥–Ω—é –∑–∞—Ö–æ–¥–∞ –≤ –∏–≥—Ä—É –∏ –ø–æ–¥—Å—á–µ—Ç —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –¥–ª—è –∫–æ–º–±–∏–Ω–∏—Ä–æ–≤–∞–Ω–Ω–æ–π –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏
    group = df_join.groupby(['reg_date', 'auth_date'])['uid'].nunique().reset_index()

    #–°–æ–æ—Ç–Ω–µ—Å–µ–º –∏ –ø–æ–¥—Å—á–∏—Ç–∞–µ–º –∫–æ–ª-–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ –¥–µ–Ω—å —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏ 
    #(—Ç.–µ. —Ç–µ, –∫—Ç–æ –∑–∞—Ä–µ–≥–∏—Å—Ç—Ä–∏—Ä–æ–≤–∞–ª—Å—è –∏ –≤–æ—à–µ–ª –≤ —Ç–æ—Ç –∂–µ –¥–µ–Ω—å)
    total_reg_users = group[group['reg_date'] == group['auth_date']]['uid'].sum()

    #–†–∞—Å—Å—á–µ—Ç retention —Å —É—á–µ—Ç–æ–º –ª—é–±–æ–π –∫–æ–º–±–∏–Ω–∞—Ü–∏–∏ –¥–∞—Ç—ã –≤–æ–∑–≤—Ä–∞—â–µ–Ω–∏—èüòµ
    group['retention'] = group['uid'] / total_reg_users

    return group

#–ó–∞–ø–∏—à–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç —Ñ—É–Ω–∫—Ü–∏–∏ (–∞ —ç—Ç–æ –Ω–æ–≤—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º group) –≤ –Ω–æ–≤—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é –∏ –æ–±—Ä–∞—Ç–∏–º—Å—è –∫ –Ω–µ–π –∑–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–ºüéâ
result = retention(dfReg_time, dfAuth_time)

result
#–û—Ç–≤–µ—Ç :üëÜ

           reg_date   auth_date   uid  retention
0        1998-11-18  1998-11-18     1   0.000001
1        1999-07-22  1999-07-22     1   0.000001
2        1999-07-22  1999-07-25     1   0.000001
3        1999-07-22  1999-07-31     1   0.000001
4        1999-07-22  1999-08-05     1   0.000001
...             ...         ...   ...        ...
2716223  2020-09-21  2020-09-22    31   0.000031
2716224  2020-09-21  2020-09-23    49   0.000049
2716225  2020-09-22  2020-09-22  1641   0.001641
2716226  2020-09-22  2020-09-23    14   0.000014
2716227  2020-09-23  2020-09-23  1048   0.001048

[2716228 rows x 4 columns]

In [6]:
#–†–µ—à–∞–µ–º –≤—Ç–æ—Ä–æ–π –≤–æ–ø—Ä–æ—Å. –î–ª—è –Ω–∞—á–∞–ª–∞ –≤–∑–≥–ª—è–Ω—É –Ω–∞ –¥–∞–Ω–Ω—ã–µ
dfTask2 = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-v-ananin/Final_project/–ü—Ä–æ–µ–∫—Ç_1_–ó–∞–¥–∞–Ω–∏–µ_2.csv', sep = ';')
dfTask2

        user_id  revenue testgroup
0             1        0         b
1             2        0         a
2             3        0         a
3             4        0         b
4             5        0         b
...         ...      ...       ...
404765   404766        0         a
404766   404767        0         b
404767   404768      231         a
404768   404769        0         a
404769   404770        0         b

[404770 rows x 3 columns]

In [9]:
#–û—Ü–µ–Ω–∏–º –¥–∞–Ω–Ω—ã–µ
dfTask2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404770 entries, 0 to 404769
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    404770 non-null  int64
 1   revenue    404770 non-null  int64
 2   testgroup  404770 non-null  object
dtypes: int64(2), object(1)
memory usage: 9.3+ MB

In [10]:
#–ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ –≥—Ä—É–ø–ø–µ) –∏ –∞–≥–≥—Ä–µ–≥–∞—Ü–∏—è 
df2 = dfTask2.groupby('testgroup')['revenue'].agg(['count', 'sum'])

#–ü–æ–¥—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –Ω–µ–Ω—É–ª–µ–≤—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –≤ —Å—Ç–æ–ª–±—Ü–µ revenue
clients = dfTask2[dfTask2['revenue'] != 0]['user_id'].nunique()

#clients_A = dfTask2[(dfTask2['revenue'] != 0) & (dfTask2['testgroup'] == 'a')]['user_id'].nunique()
#–í –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π clients_A —Å—É–º–º–∞ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ 1928 –∫–∞–∫ –≤ –∑–∞–¥–∞–Ω–∏–∏ ‚Äî –∑–Ω–∞—á–∏—Ç –¥–≤–∏–≥–∞–µ–º—Å—è –ø—Ä–∞–≤–∏–ª—å–Ω–æ!

#–ò —Ç—É—Ç –∂–µ –º—ã –≤—ã—è—Å–Ω–∏–ª–∏, —á—Ç–æ –≥—Ä—É–ø–ø–∞ –ê —É –Ω–∞—Å –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–∞—è, –∞ –í —Ç–µ—Å—Ç–æ–≤–∞—è üòâ

In [11]:
#–†–∞—Å—Å—á–µ—Ç —Å—Ä–µ–¥–Ω–µ–≥–æ —á–µ–∫–∞
df2['avg_check'] = df2['sum'] / df2['count']

#–†–∞—Å—Å—á–µ—Ç –ø–æ–≤—Ç–æ—Ä–Ω—ã—Ö –ø–æ–∫—É–ø–æ–∫
df2['rep_purchases'] = df2['count'] / dfTask2['user_id'].nunique()

#–†–∞—Å—Å—á–µ—Ç ARPPU
df2['ARPPU'] = df2['rep_purchases'] * df2['avg_check']

#–†–∞—Å—Å—á–µ—Ç –∫–æ–Ω–≤–µ—Ä—Å–∏–∏
df2['conversion'] = clients / dfTask2['user_id'].nunique()

#–†–∞—Å—Å—á–µ—Ç ARPU
df2['ARPU'] = df2['conversion'] * df2['ARPPU']


df2

,count,sum,avg_check,rep_purchases,ARPPU,conversion,ARPU
testgroup,,,,,,,
a,202103,5136189,25.413720,0.499303,12.689154,0.009223,0.117026
b,202667,5421603,26.751287,0.500697,13.394281,0.009223,0.123529

In [12]:
#–ò–º–µ—é—Ç—Å—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã A/B —Ç–µ—Å—Ç–∞, –≤ –∫–æ—Ç–æ—Ä–æ–º –¥–≤—É–º –≥—Ä—É–ø–ø–∞–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –ø—Ä–µ–¥–ª–∞–≥–∞–ª–∏—Å—å —Ä–∞–∑–ª–∏—á–Ω—ã–µ –Ω–∞–±–æ—Ä—ã –∞–∫—Ü–∏–æ–Ω–Ω—ã—Ö –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–π. 
#–ò–∑–≤–µ—Å—Ç–Ω–æ, —á—Ç–æ ARPU –≤ —Ç–µ—Å—Ç–æ–≤–æ–π –≥—Ä—É–ø–ø–µ –≤—ã—à–µ –Ω–∞ 5%, —á–µ–º –≤ –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–æ–π. 
#–ü—Ä–∏ —ç—Ç–æ–º –≤ –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–æ–π –≥—Ä—É–ø–ø–µ 1928 –∏–≥—Ä–æ–∫–æ–≤ –∏–∑ 202103 –æ–∫–∞–∑–∞–ª–∏—Å—å –ø–ª–∞—Ç—è—â–∏–º–∏, –∞ –≤ —Ç–µ—Å—Ç–æ–≤–æ–π ‚Äì 1805 –∏–∑ 202667.
#–ö–∞–∫–æ–π –Ω–∞–±–æ—Ä –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–π –º–æ–∂–Ω–æ —Å—á–∏—Ç–∞—Ç—å –ª—É—á—à–∏–º? 
#–ö–∞–∫–∏–µ –º–µ—Ç—Ä–∏–∫–∏ —Å—Ç–æ–∏—Ç –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –¥–ª—è –ø—Ä–∏–Ω—è—Ç–∏—è –ø—Ä–∞–≤–∏–ª—å–Ω–æ–≥–æ —Ä–µ—à–µ–Ω–∏—è –∏ –∫–∞–∫?

#–û–¢–í–ï–¢:
#ü§ì –ù–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –≤—ã—Å—á–∏—Ç–∞–Ω–Ω—ã—Ö –∫–ª—é—á–µ–≤—ã—Ö (–Ω–∞ –º–æ–π –≤–∑–≥–ª—è–¥) –º–µ—Ç—Ä–∏–∫ (–ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–π –≤ –∏—Ç–æ–≥–æ–≤–æ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ df2),
#–º–æ–∂–Ω–æ –ø—Ä–µ–¥–ø–æ–ª–æ–∂–∏—Ç—å, —á—Ç–æ —Ç–µ—Å—Ç–æ–≤–∞—è –≥—Ä—É–ø–ø–∞ –í —Å–ø—Ä–∞–≤–∏–ª–∞—Å—å –ª—É—á—à–µ, –¥–∞–∂–µ –ø—Ä–∏ —É—Å–ª–æ–≤–∏–∏, —á—Ç–æ –≤—ã–±–æ—Ä–∫–∞ –±–æ–ª—å—à–µ, –∞ –ø–ª–∞—Ç—è—â–∏—Ö –º–µ–Ω—å—à–µ.
#–í–µ—Ä–æ—è—Ç–Ω–æ —Å—Ç–æ–∏—Ç –≤—ã–∫–∞—Ç—ã–≤–∞—Ç—å –Ω–∞–±–æ—Ä –∞–∫—Ü–∏–π –Ω–∞ –±–æ–ª—å—à—É—é –∞—É–¥–∏—Ç–æ—Ä–∏—é.